name: OpenAPI Validation

on:
  pull_request:
    paths:
      - "docs/api/**"

jobs:
  validate-openapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install swagger-cli
        run: npm install -g swagger-cli

      - name: Validate OpenAPI spec
        run: swagger-cli validate docs/api/openapi.yaml
